body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: #fff solid 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section { 
    height: 100vh;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-bottom: #fff solid 5px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;    
    bottom: 0;
    width: 100%;
}

.title{
    width: auto;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.content {
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;    
    
}


.image-container,
.text-container {
    width: 50%;
    padding: 5%;
}
.image-container img {
    width: 100%;
    height: 520px;
    object-fit: contain; /* Esto mantiene la proporción de la imagen y la ajusta dentro del contenedor */
}
.text-container {
    padding: 20px;
    text-align: left;
    
}

.text-container ul li{
    margin: 5px;
}






.photoSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    overflow: hidden;
}

#photoCarousel {
    display: flex;
    text-align: center;
    height: 60%;
    transition: transform 0.5s ease-in-out;
}

.carousel-img {
    width: 100%;
    height: auto;
    object-fit: scale-down;
}

#prevBtn, #nextBtn {
    cursor: pointer;
    font-size: 24px;
    padding: 5px;  
    height: auto;  
    margin-top: 50px;
    background-color: #000;
    border: #fff solid;
    color: #fff;
    border-radius: 45%;
    text-decoration: none;
}

#upBtn{
    cursor: pointer;    
    padding: 5px;          
    background-color: #000;    
    color: #fff;    
    text-decoration: none;    
    height: 5%;
    width: 100%;   
}